@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-gray-50 to-gray-100 min-h-screen text-gray-800;
}

button {
  @apply transition duration-200 ease-in-out;
}